<li class="list-icon" id="<%= chat_room.id %>">

  <div class="slot table-title">Table - <%=  chat_room.id %></div>

  <div class="slot">
    <button type="button" class="btn btn-default" aria-label="Left Align">
      <i class="fa fa-comment" id="chat-<%= chat_room.id %>"></i>
      <%= link_to 'Chat', chat_room_path(chat_room) %>
    </button>
  </div>

  <div class="slot">
    <button type="button" class="btn-key btn btn-default" aria-label="Left Align">
      <i class="fa fa-key"></i> Generate Code
    </button>
  </div>

  <div class="slot pin"><%= chat_room.pin %></div>
</li>
