<!-- Header -->
<header id="top" class="header">
  <div class="header-layer">
    <div class="top-title">
        <h1>My Restaurant</h1>
        <h3>Application to order in-house via chat</h3>
        <br>
        <a href="#about" class="btn btn-dark btn-lg">Find Out More</a>
    </div>
  </div>
</header>

<!-- About -->
<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>In-house Order!</h2>
                <p class="lead">Take your time! <br> Check the menu and order from your phone.</p>
                <%= form_tag('/check_pin') do %>

                  <input id="pin-code" type="text" name="pin" value="" placeholder="Enter PIN here!">
                  <%= submit_tag("Enter", :id => "check-pin-btn") %>
                <% end %>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- Services -->
<!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
<!-- <section id="services" class="services bg-primary">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>Our Services</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-cloud fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Breakfast</strong>
                            </h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <a href="#" class="btn btn-light">Learn More</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-compass fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Lunch</strong>
                            </h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <a href="#" class="btn btn-light">Learn More</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-flask fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Service Name</strong>
                            </h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <a href="#" class="btn btn-light">Learn More</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                            <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-shield fa-stack-1x text-primary"></i>
                        </span>
                            <h4>
                                <strong>Service Name</strong>
                            </h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <a href="#" class="btn btn-light">Learn More</a>
                        </div>
                    </div>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section> -->

<!-- Callout -->
<aside class="callout">
    <div class="text-vertical-center callout-layer">
        <h1>Best Coffee in Melbourne</h1>
    </div>
</aside>

<!-- Portfolio -->
<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h2>Our Work</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="#">
                              <%= image_tag('Smashed Avo' , :class => "img-portfolio img-responsive") %>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="#">
                                <%= image_tag('croquette' , :class => "img-portfolio img-responsive") %>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="#">
                                <%= image_tag('bananabread' , :class => "img-portfolio img-responsive") %>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="portfolio-item">
                            <a href="#">
                                <%= image_tag('tiramissu' , :class => "img-portfolio img-responsive") %>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.row (nested) -->
                <a href="#" class="btn btn-dark">View More Items</a>
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- Call to Action -->
<aside class="call-to-action bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3>Open hours:</h3>
                <ul class="open-hours">
                  <li>Mon - Fri</li>
                  <li>7am - 4pm</li>
                </ul>
                <ul class="open-hours">
                  <li>Sat - Sun</li>
                  <li>7am - 4pm</li>
                </ul>

            </div>
        </div>
    </div>
</aside>

<!-- Map -->
<section id="contact" class="map">
    <!-- <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=twitter&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Twitter,+Inc.,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A&amp;output=embed"></iframe>
   -->
    <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6303.665639256836!2d144.95535362791676!3d-37.81738468513806!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad642b33fa08005%3A0x5b4ce751bc4d46f6!2sGeneral+Assembly+Melbourne!5e0!3m2!1sen!2sau!4v1484563119970"></iframe>

    <br />
    <small>
        <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6303.665639256836!2d144.95535362791676!3d-37.81738468513806!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad642b33fa08005%3A0x5b4ce751bc4d46f6!2sGeneral+Assembly+Melbourne!5e0!3m2!1sen!2sau!4v1484563119970"></a>
    </small>

</section>

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h4><strong>Pedro Araujo</strong>
                </h4>
                <p>Web Developer
                    <br>Melbourne - VIC</p>
                <ul class="list-unstyled">
                    <li><i class="fa fa-phone fa-fw"></i> 0497 853 085</li>
                    <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:pptaraujo@gmail.com">pptaraujo@gmail.com</a>
                    </li>
                </ul>
                <br>
                <ul class="list-inline">
                    <li>
                        <a href="https://www.facebook.com/pptaraujo"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                    </li>
                    <li>
                        <a href="https://github.com/ppteixeira"><i class="fa fa-github fa-fw fa-3x"></i></a>
                    </li>
                    <li>
                        <a href="https://au.linkedin.com/in/pedro-araujo"><i class="fa fa-linkedin fa-fw fa-3x"></i></a>
                    </li>
                </ul>
                <hr class="small">
                <!-- <p class="text-muted">Copyright &copy; Your Website 2014</p> -->
            </div>
        </div>
    </div>
    <a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
</footer>



<%= form_tag('/check_pin') do %>
  <label id="pin-label">Enter PIN here!</label>
  <input id="pin-code" type="text" name="pin" value="">
  <%= submit_tag("Enter", :id => "check-pin-btn") %>
<% end %>

<!-- Custom Theme JavaScript -->
<script>

</script>
